<footer>
<div class="container-fluid">
        <small>
            Copyright &copy; <a href="webcodes.org">Web Codes</a>
            by <a href="www.aprode.org">Elmer Perez</a>
        </small>
        <nav>
    <ul>
        <li> <%= link_to "about", about_path %></li>
            
            
            
            </ul>
    
    </nav>
        </div>
    
</footer>